/* === CSS Reset === */


*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    box-sizing: border-box;
}



body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

figure {
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    display: none;
}

#root,
#__next {
    isolation: isolate;
}

main {
    margin-top: 56px;
}

/* 標題區 */

.section-title {
    font-size: var(--fs-section-title);
    color: var(--color-text-primary);
    letter-spacing: 0.05em;
    font-weight: var(--fw-medium);
    line-height: var(--lh-tight);
}


/* 預留 */
.section-padding-top {
    padding-top: 200px;
}

.section-padding-bottom {
    padding-bottom: 120px;
}

.section-padding-bottom.-bt {
    padding-bottom: 0;
}

.section-padding-rl {
    max-width: 1440px;
    margin: auto;
}

.section-title-zone {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title-zone .line {
    width: 100%;
    height: 10px;
    background: var(--color-primary);
    position: absolute;
    z-index: 1;
}

.section-title-zone .title-box {
    padding: 0 20px;
    background: #fff;
    z-index: 2;
    margin-top: -4px;
}

.section-title-zone .title-box .text {
    font-size: var(--fs-subtitle);
    color: var(--color-third);

}

.article-container .title {
    color: var(--color-primary);
    font-size: var(--fs-small-title);

}

.article-container .content {
    color: var(--color-text-secondary);
    font-size: var(--fs-body);
}

.pt-005 {
    padding-top: 0.5rem;
}

.pt-010 {
    padding-top: 1rem;
}

.pt-010 {
    padding-top: 1rem;
}

.pt-015 {
    padding-top: 1.5rem;
}

.pt-020 {
    padding-top: 2rem;
}

.pt-025 {
    padding-top: 2.5rem;
}

.pt-030 {
    padding-top: 3rem;
}

.pt-035 {
    padding-top: 3.5rem;
}

.pb-005 {
    padding-bottom: 0.5rem;
}

.pb-010 {
    padding-bottom: 1rem;
}

.pb-010 {
    padding-bottom: 1rem;
}

.pb-015 {
    padding-bottom: 1.5rem;
}

.pb-020 {
    padding-bottom: 2rem;
}

.pb-025 {
    padding-bottom: 2.5rem;
}

.pb-030 {
    padding-bottom: 3rem;
}

.pb-035 {
    padding-bottom: 3.5rem;
}

@media (max-width:1600px) {
    .section-padding-rl {
        max-width: 100%;
        margin: auto;
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (max-width:1100px) {
    .section-padding-rl {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width:768px) {
    .section-padding-rl {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:560px) {
    .section-padding-rl {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width:420px) {
    .section-padding-rl {
        padding-left: 10px;
        padding-right: 10px;
    }
}