.hero-section {
    width: 100%;
    height: 82vh;
    max-height: 748px;
    position: relative;
    display: flex;

    .img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .overlay {
            position: absolute;
            left: -48%;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0);
            backdrop-filter: blur(15px);
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 89%, rgba(0, 0, 0, 0) 100%);
            z-index: 2;
        }

        .img-controller {
            height: 100%;
            width: 100%;
            position: absolute;
            transform: scale(1.9) rotate(-2deg);
            left: 10%;
            top: 120px;
            z-index: 1;
            object-fit: none;
        }
    }

    .hero-title-zone {
        //top: 0;
        z-index: 2;
        align-self: center;
        position: absolute;
        left: 8%;
        border-radius: 30px;
        background: linear-gradient(96deg, rgba(129, 216, 208, 0.60) 10.98%, rgba(17, 81, 103, 0.60) 110.89%);

        .hero-title-container {
            width: fit-content;
            height: fit-content;
            padding: 64px 44px;

            .hero-title-box {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .top-side {
                    display: flex;
                    flex-direction: column;

                    .header-zone {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 14px;
                        transform: skew(-12deg);

                        .line-square {
                            height: 8px;
                            background: #fff;

                            &.-line1 {
                                width: calc(1920px / 450px * 12%);
                            }

                            &.-line2 {
                                width: 4vw;
                            }

                            &.-line3 {
                                width: 1vw;
                            }
                        }

                        .line-fitness {
                            font-size: var(--fs-body);
                            font-weight: var(--fw-medium);
                            color: #fff;
                        }
                    }

                    .hero-title-content {

                        .big-title,
                        .sub-title {
                            color: #fff;
                        }

                        .big-title {
                            font-size: var(--fs-hero-title);
                            font-weight: var(--fw-bold);
                            display: flex;
                            gap: 2vw;
                        }

                        .sub-title {
                            font-weight: var(--fw-bold);
                            font-size: clamp(1rem, 2vw, 1.75rem);
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }

                .bottom-side {
                    margin-top: 2rem;
                    display: grid;
                    width: fit-content;
                    height: fit-content;
                    row-gap: 1rem;
                    column-gap: 4rem;
                    align-self: center;

                    .item-box {
                        display: flex;
                        align-items: first baseline;
                        gap: 10px;

                        .hp-icon.svg-container {
                            width: 32px;
                            height: auto;

                            svg {
                                width: 100%;
                                height: auto;
                            }

                        }

                        .text {
                            color: #fff;
                            font-size: clamp(1rem, 3vw, 1.3rem);
                            ;
                        }
                    }

                    .item-box:nth-child(1) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    .item-box:nth-child(2) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    .item-box:nth-child(3) {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }

                    .item-box:nth-child(3) {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }
            }
        }
    }
}

.social-section {
    display: grid;
    height: 800px;

    .social-item {
        position: relative;
        display: flex;

        .linear-box {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, rgba(43, 43, 43, 0) -15.84%, #292929 100%);
            z-index: 2;
            opacity: 0;
        }

        .title-container {
            position: relative;
            z-index: 3;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            padding: clamp(1.2rem, 2vw, 1.75rem);

            .title {
                font-size: clamp(1.2rem, 3vw, 1.5rem);
                margin-bottom: .5rem;
                margin-top: -4px;
            }

            .social-article {
                font-size: var(--fs-small);
                font-weight: var(--fw-extralight);
            }
        }



        .img-container {
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 1;
            overflow: hidden;
            display: flex;

            &.QRcode {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 250px;
                background: var(--color-linear-03);

            }

            .img-controller {
                position: absolute;
                object-fit: none;

                width: 100%;
                height: 100%;


                &.IG,
                &.LINE {
                    position: relative;
                    transform: scale(1);
                    width: 170px;
                    height: 170px;
                    object-fit: contain;
                    right: auto;
                    top: auto;
                }
            }
        }
    }

    .listening-zone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 7;
        width: 100%;
        height: 100%;

        .img-container {

            .title-container {
                padding: 0 clamp(1.2rem, 1vw, 2.2rem);
                align-self: center;

                .title {
                    font-size: var(--fs-small-title);
                    margin-top: 0rem;
                }
            }
        }

        .img-controller {
            transform: scale(1.05);
            object-position: 45%;
        }
    }

    .age-triangle-zone {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        height: 100%;


        .img-controller {
            transform: scale(1.3);
            top: 40px;
            right: 0;
            object-position: 90%;
        }
    }

    .safe-zone {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 7;
        width: 100%;
        height: 100%;


        .img-controller {
            transform: scale(1.2);
            top: 20px;
            right: 0;
        }
    }
}

.concept-section {
    width: 100%;
    height: fit-content;

    .article-zone {
        width: 100%;
        height: fit-content;
        margin-top: clamp(40px, 5vw, 80px);
        display: grid;
        grid-template-columns: .5fr .5fr;

        .article-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 clamp(10px, 5vw, 40px) 0 0;
            gap: 20px;
        }

        .img-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .img-controller {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.service-section {
    width: 100%;
    height: fit-content;

    .list-zone {
        margin-top: clamp(40px, 5vw, 80px);
        width: 100%;
        height: fit-content;

        .img-container {
            width: 100%;
            height: 100%;
            overflow: hidden;

            .img-controller {
                width: 100%;
                height: 100%;
            }
        }

        .list-container {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 2rem;

            .item-box {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 40px;
                gap: 1.5rem;

                .title-box {
                    position: relative;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    .line {
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        background: var(--color-primary);
                    }

                    .content {
                        width: fit-content;
                        height: fit-content;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 8px 12px;
                        background-color: #fff;
                        gap: 8px;
                    }

                    .text {
                        font-size: var(--fs-small-title);
                    }

                    .img-container {
                        width: 32px;
                        height: 32px;

                        .img-controller {
                            width: 32px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}



@media (max-width:1240px) {
    .hero-section .hero-title-zone {
        left: 5%;
    }

    .hero-section .hero-title-zone .hero-title-container {
        padding: 56px 60px;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .top-side .header-zone .line-square.-line1 {
        width: 40%;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .top-side .hero-title-content .big-title {
        font-size: clamp(2rem, 5vw, 3rem);
        justify-content: space-between;
        //gap: initial;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .top-side .hero-title-content .sub-title {
        font-size: clamp(1rem, 2vw, 1.25rem);
        padding: 0 3px;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .bottom-side .item-box .hp-icon.svg-container {
        width: 24px;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .bottom-side .item-box .text {
        font-size: clamp(.8rem, 2.5vw, .96rem);
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .bottom-side {
        margin-top: 0;
    }
}

@media (max-width:991px) {
    .hero-section .hero-title-zone {
        left: 32px;
    }

    .service-section .list-zone .list-container {
        gap: 20px;
    }

    .hero-section .hero-title-zone .hero-title-container {
        padding: 30px 40px;
    }

    .hero-section .img-container .img-controller {
        transform: scale(1.6) rotate(-1.4deg);
    }
}

@media (max-width:840px) {
    .hero-section .img-container .img-controller {
        transform: scale(1.2) rotate(-1.4deg) translateY(-70px);
    }
}

@media (max-width:768px) {
    .concept-section .article-zone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .concept-section .article-zone .article-container {
        padding: 0;
    }

    .service-section .list-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;

    }

    .service-section .list-zone .list-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        gap: 70px;
    }

    .social-section {
        height: 900px;
    }

    .social-section .listening-zone .img-container .img-controller {
        transform: scale(1.4);
        top: -68px;
        height: 290%;
        object-position: 40%;
    }

    .social-section .social-item .linear-box {
        opacity: 1;
    }

    .social-section .listening-zone .img-container .title-container {
        width: 320px;
        position: absolute;
        right: 0;
    }

    .social-section .listening-zone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 300px;
    }

    .social-section .age-triangle-zone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 300px;
    }

    .social-section .safe-zone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 300px;
    }
}

@media (max-width:720px) {
    .hero-section .hero-title-zone {
        left: 20px;
    }
}

@media (max-width:640px) {
    .hero-section .img-container .overlay {
        position: absolute;
        left: -78%;
        display: none;
    }

    .hero-section .img-container picture {
        width: 100%;
        height: 100%;
    }

    .hero-section .img-container .img-controller {
        transform: scale(1.04) rotate(.4deg) translateY(0px) translateX(-5px);
        left: auto;
        right: auto;
        top: -100px;
        width: 100%;
        height: 160%;
    }

    .hero-section .hero-title-zone {
        top: auto;
        left: 16px;
        width: calc(100% - 32px);
        bottom: 25px;

    }

    .hero-section .hero-title-zone .hero-title-container {
        width: 100%;
        padding: 20px 24px;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .top-side .header-zone .line-square.-line1 {
        width: 53%;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .top-side .hero-title-content .big-title {
        font-size: clamp(2rem, 6vw, 4rem);
        justify-content: space-between;
        gap: unset;
    }

    .hero-section .hero-title-zone .hero-title-container .hero-title-box .bottom-side {
        row-gap: 1rem;
        column-gap: 2rem;
    }

    .service-section .list-zone .list-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: fit-content;
        margin: auto;
        margin-top: 40px;
    }

    .service-section .list-zone .list-container .item-box {
        width: fit-content;
        height: auto;

    }

    .social-section .social-item .img-container.QRcode {
        width: 160px;
    }

    .social-section .social-item .img-container .img-controller.IG,
    .social-section .social-item .img-container .img-controller.LINE {
        width: 100px;
        height: 100px;
    }



    .service-section .list-zone .list-container .item-box .img-container .img-controller.train {
        transform: translateY(-0px);
    }
}

@media (max-width:480px) {
    .social-section .social-item .img-container.QRcode {
        width: 110px;
    }

    .social-section .social-item .img-container .img-controller.IG,
    .social-section .social-item .img-container .img-controller.LINE {
        width: 80px;
        height: 80px;
    }
}