.footer-zone {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 10px clamp(30px, 4vw, 60px) 10px;
  background: var(--color-linear-01);
  display: flex;
  justify-content: center;
}
.footer-zone p,
.footer-zone span,
.footer-zone i {
  color: #fff;
}
.footer-zone svg {
  fill: #fff;
  color: #fff;
}
.footer-zone .footer-container {
  max-width: 1200px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
}
.footer-zone .footer-container .top {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.footer-zone .footer-container .top .left.logo.img-container {
  max-width: 180px;
  min-width: 100px;
  height: 280px;
  display: flex;
  justify-content: center;
}
.footer-zone .footer-container .top .left.logo.img-container .img-controller {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-zone .footer-container .top .right {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-zone .footer-container .top .right .info-zone {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 5vw;
}
.footer-zone .footer-container .top .right .info-zone .time-zone {
  display: flex;
  flex-direction: column;
}
.footer-zone .footer-container .top .right .info-zone .time-zone .title {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  margin-bottom: 10px;
}
.footer-zone .footer-container .top .right .info-zone .time-zone .container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.footer-zone .footer-container .top .right .info-zone .time-zone .box:first-of-type {
  margin-bottom: 20px;
}
.footer-zone .footer-container .top .right .info-zone .time-zone .box .date {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
}
.footer-zone .footer-container .top .right .info-zone .time-zone .box .time {
  font-size: var(--fs-small-title);
  font-weight: var(--fw-regular);
  margin-top: -2px;
}
.footer-zone .footer-container .top .right .info-zone .set {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-zone .footer-container .top .right .info-zone .set .item .title {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  margin-bottom: 5px;
}
.footer-zone .footer-container .top .right .info-zone .set .item .text {
  font-size: var(--fs-small-title);
  font-weight: var(--fw-regular);
}
.footer-zone .footer-container .top .right .info-zone .set .item .text.phone {
  font-weight: var(--fw-regular);
}
.footer-zone .footer-container .top .right .social-zone {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.footer-zone .footer-container .top .right .social-zone .title {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  margin-bottom: 10px;
}
.footer-zone .footer-container .top .right .social-zone .container {
  display: flex;
  gap: 20px;
}
.footer-zone .footer-container .top .right .social-zone .container .icon-box {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 8px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0);
  transform: scale(1);
}
.footer-zone .footer-container .top .right .social-zone .container .icon-box i {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.footer-zone .footer-container .top .right .social-zone .container .icon-box:hover {
  background: white;
  transform: scale(1.2);
}
.footer-zone .footer-container .top .right .social-zone .container .icon-box:hover i {
  color: var(--color-secondary);
}
.footer-zone .bottom {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 40px;
  border-top: 1px solid var(--color-primary);
}
.footer-zone .bottom .term {
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
}

@media (max-width: 1280px) {
  .footer-zone {
    padding: 0 40px clamp(30px, 4vw, 60px) 40px;
  }
  .footer-zone .footer-container .top .right .social-zone .container {
    gap: 16px;
  }
  .footer-zone .footer-container .top .right .social-zone .container .icon-box {
    width: 44px;
    height: 44px;
  }
  .footer-zone .footer-container .top .right .social-zone .container .icon-box i {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .footer-zone .footer-container .top .right {
    flex-direction: column;
    margin-top: 0px;
    gap: 40px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-zone .footer-container .top .right .info-zone {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer-zone .footer-container .top .right .info-zone .time-zone,
  .footer-zone .footer-container .top .right .info-zone .set,
  .footer-zone .footer-container .top .right .info-zone .set .item,
  .footer-zone .footer-container .top .right .info-zone .time-zone .box,
  .footer-zone .footer-container .top .right .social-zone {
    align-items: center;
    justify-content: center;
  }
  .footer-zone .footer-container .top .right .info-zone .set .item,
  .footer-zone .footer-container .top .right .info-zone .time-zone .box,
  .footer-zone .footer-container .top .right .social-zone {
    display: flex;
    flex-direction: column;
  }
  .footer-zone .footer-container .top .right .info-zone .time-zone .box:first-of-type {
    margin-bottom: 10px;
  }
  .footer-zone .bottom {
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px;
    padding-bottom: 0;
  }
  .footer-zone .footer-container {
    gap: 40px;
  }
}/*# sourceMappingURL=footer.css.map */